extends layout

block nav
    li
        a(href="/transactions") Transactions
    li.active
        a(href="#") Account info
    li
        a(href="/buy-and-sell") Buy and Sell
    li
        a(href="/configuration") Configuration
    li
        a(href="/logout") Logout

block content
    if error
        .alert.alert-danger #{ error }
    h1 Robocoin Account Info
    table.table.table-striped.table-condensed
        tr
            td Account Balance
            td #{ robocoinAccount.xbt_balance } BTC
        tr
            td Deposit Address
            td #{ robocoinAccount.deposit_address }
                #robocoinAddress
    h1 Exchange Account Info
    table.table.table-striped.table-condensed
        tr
            td #{ exchangeCurrency } Available
            td #{ exchangeAccount.fiat_available }
        tr
            td BTC Available
            td #{ exchangeAccount.btc_available } BTC
        tr
            td Deposit Address
            td #{ exchangeAccount.address }
                #exchangeAddress

block footerJs
    script(src="/js/qrcode.js")
    script.
        $(document).ready(function () {

            new QRCode(document.getElementById('robocoinAddress'), '#{ robocoinAccount.deposit_address }');
            new QRCode(document.getElementById('exchangeAddress'), '#{ exchangeAccount.address }');
        });