extends layout

block nav
    li.active
        a(href="#") Transactions
    li
        a(href="/account-info") Account info
    li
        a(href="/configuration") Configuration
    li
        a(href="/logout") Logout

block content
    h1 Recent log entries
    table.table.table-bordered.table-condensed
        tr
            th Timestamp
            th Level
            th Message
        each log in logs
            if log.level == 'warn'
                tr.warning
                    td #{ new Date(log.ts * 1000) }
                    td #{ log.level }
                    td #{ log.message }
            else if log.level == 'error'
                tr.danger
                    td #{ new Date(log.ts * 1000) }
                    td #{ log.level }
                    td #{ log.message }
            else
                tr
                    td #{ new Date(log.ts * 1000) }
                    td #{ log.level }
                    td #{ log.message }