extends layout

block nav
    li
        a(href="/transactions") Transactions
    li
        a(href="/account-info") Account info
    li
        a(href="/configuration") Configuration
    li
        a(href="/logout") Logout

block content
    h1 Recent log entries
    table.table.table-bordered.table-condensed
        tr
            th Timestamp
            th Level
            th Message
        each log in logs
            if log.level == 'warn'
                tr.warning
                    td
                        script.
                            document.write(new Date(#{ log.ts } * 1000).toString());
                    td #{ log.level }
                    td #{ log.message }
            else if log.level == 'error'
                tr.danger
                    td
                        script.
                            document.write(new Date(#{ log.ts } * 1000).toString());
                    td #{ log.level }
                    td #{ log.message }
            else
                tr
                    td
                        script.
                            document.write(new Date(#{ log.ts } * 1000).toString());
                    td #{ log.level }
                    td #{ log.message }